<div id="container">
  <div id="dashboard-container">
    <nav id="navbar">
      <div>
        <button routerLink="/dashboard/orders">Pedidos</button>
        <button routerLink="/dashboard/products">Produtos</button>
        <button routerLink="/dashboard/suppliers">Fornecedores</button>
        <button routerLink="/dashboard/customers">Clientes</button>
        <button routerLink="/dashboard/users">Usuários</button>
      </div>
      <button class="logout-button" (click)="logout()">🚪 Sair</button>
    </nav>
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
