<div id="container">
  <div id="card">
    <h1>Bem-vindo ao meu front-end</h1>
    <p>Olá, meu nome é Breno.</p>
    <p>Este front-end faz parte do teste de desenvolvedor fullstack Korp.</p>
    <br>
    <p>Usuário padrão de teste:</p>
    <p><strong>Email:</strong> jose@email.com</p>
    <p><strong>Senha:</strong> 12345678</p>
    <br>
    <p>Este usuário tem permissão de admin</p>
    <p>Todos os usuários de teste possuem a mesma senha</p>
    <button routerLink="/auth/signin">Ir para página de login/cadastro</button>
  </div>
</div>
